<br>
<br>

<select [(ngModel)]="gender">
 <option value="1">남자</option>
 <option value="2">여자</option>
</select>

<!--
  *ngIf="true/false 또는 처리결과가 true/false인 로직"
  *ngIf="true" 이면 엘리먼트를 표시한다.
  *ngIf="false" 이면 엘리먼트를 표시하지 않는다.

  앵귤러는 if-else 구조디렉티브가 없다.
  if-else 처리를 원한다면, 두개의 *ngIf를 나열하시고
  조건을 교차설정하여 처리하셔야 합니다.
 -->
<h2 *ngIf="gender == 1">남자가 선택됨</h2>
<h2 *ngIf="gender == 2">여자가 선택됨</h2>

<!--
  ng-template :
  [ngIf] 설정에 따라 앵귤러 처리한 후에 ng-template라는 코드는 사라진다.
  다른 엘리먼트에 *ngIf를 설정하면 엘리먼트는 남는다.
 -->
<h3>
 <ng-template [ngIf]="gender == 1">남자가 선택됨</ng-template>
 <ng-template [ngIf]="gender == 2">여자가 선택됨</ng-template>
</h3>

<h3 *ngIf="gender == 1">남자가 선택됨</h3>
<h3 *ngIf="gender == 2">여자가 선택됨</h3>
