<table>
  <tbody>
    <tr>
      <td><b>라우팅</b></td>
      <td><a routerLink="/">Home</a></td>
      <td><a routerLink="hello">Hello</a></td>
      <td><a routerLink="router-link-test">RouterLinkTest</a></td>
      <td><a href="href-test">HrefTest</a></td>
      <td><a routerLink="ufo-is-exist">없는 페이지</a></td>
    </tr>
    <tr>
      <td><b></b></td>
      <td><a routerLink="pages/first-page">FirstPage</a></td>
      <td><a routerLink="pages/second-page">SecondPage</a></td>
      <td><a routerLink="pages/third-page">ThirdPage</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b></b></td>
      <td><a routerLink="login">Login</a></td>
      <td><a routerLink="admin">Admin</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Member</b></td>
      <td><a routerLink="member">Member</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
